body {
    font-family: fantasy, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color: brown;
}
header {
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
main {
    font-size: large;
    padding: 2rem;
    text-align: center;
}
a {
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: cadetblue;
    text-decoration: underline;
}
footer {
    margin-top: 2rem;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}